CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
COOKIE_SAME_SITE=
COOKIE_SECURE=
CORS_ORIGIN=
EMAILJS_PRIVATE_KEY=
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
JWT_EXPIRES_IN=
JWT_SECRET=
MONGODB_URI=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
VITE_API_BASE_URL=
VITE_RAZORPAY_KEY_ID=